* {
  padding    : 0;
  margin     : 0;
  box-sizing : border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style : none;
  outline    : none;
}

body {
  min-height      : 100vh;
  background-color: azure;
}